body{
    background-color: lightgrey;
}
.cim{
    border-radius: 5px;
    text-align: center;
    margin: auto auto;
}   
#copyright{
    font-size: medium;
}
.navi{
    background-color: #444;
    overflow: hidden;
}
.navi a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navi a:hover{
    background-color: grey;
    color: black;
}
.navi a.active {
    background-color: #04AA6D;
    color: white;
}
.navi .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .navi a:not(:first-child) {display: none;}
    .navi a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 600px) {
    .navi.responsive {
        position: relative;
    }
    .navi.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navi.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
hr{
    border: 2px solid black;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: small;
}
