#next{
    float: right;
    position: relative;
}
#fokep{
    height: 540px;
    width: 960px;
    margin: auto auto;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
}
.rickandmorty{
    background-image: url(https://m.media-amazon.com/images/M/MV5BZmZhNWMyODgtMzA0OC00NWFhLTllODQtYmJkZjYxYWU4MGU1XkEyXkFqcGdeQWFybm8@._V1_.jpg);
}
.breakingbad{
    background-image: url(https://m.media-amazon.com/images/M/MV5BMTJiMzgwZTktYzZhZC00YzhhLWEzZDUtMGM2NTE4MzQ4NGFmXkEyXkFqcGdeQWpybA@@._V1_QL75_UX500_CR0,0,500,281_.jpg);
}
.gameofthrones{
    background-image: url(https://wme-gep-drupal-hbo-prod.s3.amazonaws.com/game-of-thrones-1-1920x1080.jpg);
}
.thewalkingdead{
    background-image: url(https://ntvb.tmsimg.com/assets/p8282918_b_h8_bn.jpg?w=960&h=540);
}
.familyguy{
    background-image: url(https://musor.tv/img/fb/1/112/Family_Guy_I_6_.jpg);
}